#about {
  padding: 100px 9%;
  background-color: #ffffff;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.about-image {
  width: 45%;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  object-fit: cover;
}

.about-content {
  width: 55%;
}

.about-tag {
  display: inline-block;
  background-color: #dceaff;
  color: #0b3e6d;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
}

.about-content h2 {
  font-size: 30px;
  color: #102542;
  line-height: 1.2;
  margin-bottom: 25px;
}

.about-content > p {
  font-size: 18px;
  color: #6b7280;
  line-height: 1.8;
  margin-bottom: 35px;
}

/* Lista de informações */
.about-content ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Cada item da lista */
.about-content ul li {
  display: flex;
  flex-direction: column;
  gap: 4px;

  color: #6b7280;
}

/* Título de cada item */
.about-content ul li strong {
  font-size: 16px;
  font-weight: 600;
  color: #102542;
}

/* Descrição de cada item */
.about-content ul li p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #6b7280;
}